@import "tailwindcss";
@import "@nuxt/ui";

/* Prevent mobile zoom on input focus */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
select,
textarea {
  font-size: 16px !important;
}